.tic-tac-toc-container {
  clear: both;
  content: "";
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;

}

.square {
  border: 1px solid rgb(142, 189, 142);
  float: left;
  font-size: 40px;
  height: 100px;
  padding: 0px;
  text-align: center;
  width: 100px;
  margin-right: -1px;
  margin-top: -1px;
  cursor: pointer;
}
